<div class="container">
    <div class="abs-center">
        <form action="#" class="border p-3 form" [formGroup]="form">
          <div class="form-group">
            <label for="ShipperID">Shipper ID</label>
            <input matInput type="number" [formControl]="ShipperID" (keyup)="obtenerShippersConId()" name="ShipperID" id="ShipperID" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');" placeholder="ShipperID">
            <mat-error  *ngIf="ShipperID.invalid">
                Valid Shipper ID is required.
            </mat-error>
            <br>
          </div>  
            <div class="form-group">
                <label for="companyName">Company Name</label>
                <input matInput  type="text" [formControl]="companyName" name="companyName" id="companyName" class="form-control" placeholder="CompanyName">
                <mat-error  *ngIf="companyName.invalid">
                    Valid Company Name is required.
                </mat-error>
            </div>
            <br>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input matInput [formControl]="phone" type="text" name="phone" id="phone" class="form-control" placeholder="Phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\.*)\./g, '$1');">
                <mat-error *ngIf="phone.invalid">
                    Valid Phone is required.
                  </mat-error>
            </div>
            <br>    
            <button type="submit" class="btn btn-primary" (click)="updateShipper()">Modificar Shipper</button>
        
            <button type="reset" class="btn btn-primary" id="espacio">Limpiar datos</button>
        </form>
    </div>
</div>
